{{>layout/header}}
<h1>Admin Page - Main</h1>

<ul>
    <li><h3><a href="/admin/members">Member 관리</a></h3></li>
    <li><h3><a href="/admin/subjects">Subject 관리</a></h3></li>
    <li><h3><a href="/admin/reservations">Reservations 관리</a></h3></li>
    <li><h3><a href="/admin/pools">Pools 관리</a></h3></li>
</ul>

{{>layout/footer}}