{{> layout/reservations/header }}
<h1>Admin Page - Reservation</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <a href="/admin/reservations/save" role="button" class="btn btn-primary">예약하기</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>예약 번호</th>
            <th>서브젝트 이름</th>
            <th>유저 이름</th>
            <th>Pool 생성 시간</th>
            <th>Pool 마감 시간</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#reservations}}
            <tr>
                <td>{{id}}</td>
                <td>{{pool.subject.name}}</td>
                <td>{{member.name}}</td>
                <td>{{pool.createdAt}}</td>
                <td>{{pool.closedAt}}</td>
                <td><button id="btn-delete-row" class="btn btn-info active" role="button">Delete</button></td>
            </tr>
        {{/reservations}}
        </tbody>
    </table>
</div>
{{> layout/reservations/footer }}
