{{> layout/teams/header }}
<h1>Admin Page - Team</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <a href="/admin/teams/save" role="button" class="btn btn-primary">팀 생성</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>팀 번호</th>
            <th>유저 목록</th>
            <th>Team 생성 시간</th>
            <th>Team 종료 시간</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#teams}}
            <tr>
                <td>{{id}}</td>
                <td>{{userNames}}</td>
                <td>{{createdAt}}</td>
                <td>{{closedAt}}</td>
                <td><button id="btn-delete-row" class="btn btn-info active" role="button">Delete</button></td>
            </tr>
        {{/teams}}
        </tbody>
    </table>
</div>
{{> layout/teams/footer }}
