{{>layout/subjects/header}}

<h1>서브젝트 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">서브젝트 번호</label>
                <input type="text" class="form-control" id="id" value="{{subject.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="name">서브젝트 이름</label>
                <input type="text" class="form-control" id="name" value="{{subject.name}}">
            </div>
            <div class="form-group">
                <label for="pdfRef"> pdf 주소 </label>
                <input type="text" class="form-control" id="pdfRef" value="{{subject.pdfRef}}">
            </div>
            <div class="form-group">
                <label for="description"> 설명 </label>
                <textarea class="form-control" id="description">{{subject.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="circle"> 서클 </label>
                <textarea class="form-control" id="circle">{{subject.circle}}</textarea>
            </div>
        </form>
        <a href="/admin/subjects" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>

{{>layout/subjects/footer}}
