{{>layout/teams/header}}

<h1>팀 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="subjectName"> 서브젝트 이름 </label>
                <input type="text" class="form-control" id="subjectName" placeholder="서브젝트 이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="userName1"> 유저1 이름 </label>
                <input type="text" class="form-control" id="userName1" placeholder="서브젝트 이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="userName2"> 유저2 이름 </label>
                <input type="text" class="form-control" id="userName2" placeholder="유저 이름을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="userName3"> 유저3 이름 </label>
                <input type="text" class="form-control" id="userName3" placeholder="유저 이름을 입력해주세요">
            </div>
        </form>
        <a href="/admin/teams" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/teams/footer}}