{{>layout/members/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="id">유저 번호</label>
                <input type="text" class="form-control" id="id" value="{{member.id}}" readonly>
            <div class="form-group">
                <label for="name">유저 이름</label>
                <input type="text" class="form-control" id="name" value="{{member.name}}" readonly>
            </div>
            <div class="form-group">
                <label for="email"> 이메일 </label>
                <input type="text" class="form-control" id="email" value="{{member.email}}" readonly>
            </div>
            <div class="form-group">
                <label for="picture"> 사진 </label>
                <input type="text" class="form-control" id="picture" value="{{member.picture}}">
            </div>
            <div class="form-group">
                <label for="role"> 권한 </label>
                <input type="text" class="form-control" id="role" value="USER" readonly>
            </div>
        </form>
        <a href="/admin/members" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>

{{>layout/members/footer}}
