<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <th:block th:fragment="fragment-nav">
        <nav class="navbar navbar-expand-lg navbar-light" id="nav_area">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#nav_menu_area">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav_menu_area">
                <ul class="navbar-nav" id="nav_menu">
                    <li class='nav-item'  th:classappend="${currentPage eq 'home'} ? 'active' : ''"
                        th:attr="data-href=@{/admin/}">Home</li>
                    <li sec:authorize="hasRole('ADMIN')" class='nav-item'
                        th:classappend="${currentPage eq 'member'} ? 'active' : ''"
                        th:attr="data-href=@{/admin/members}">Member</li>
                    <li sec:authorize="hasRole('ADMIN')" class='nav-item'
                        th:classappend="${currentPage eq 'subject'} ? 'active' : ''"
                        th:attr="data-href=@{/admin/subjects}">Subject</li>
                    <li sec:authorize="hasRole('ADMIN')" class='nav-item'
                        th:classappend="${currentPage eq 'pool'} ? 'active' : ''"
                        th:attr="data-href=@{/admin/pools}">Pool</li>
                    <li sec:authorize="hasRole('ADMIN')" class='nav-item'
                        th:classappend="${currentPage eq 'reservation'} ? 'active' : ''"
                        th:attr="data-href=@{/admin/reservations}">Reservation</li>
                    <li sec:authorize="hasRole('ADMIN')" class='nav-item'
                        th:classappend="${currentPage eq 'team'} ? 'active' : ''"
                        th:attr="data-href=@{/admin/teams}">Team</li>
                </ul>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="member-page-nav">
        <div style="text-align: center;">
            <nav>
                <!--표에 사용될 변수값 초기화 -->
                <ul class="pagination"
                    th:with="start=${T(Math).floor(members.number/10)*10 + 1},
                            last=(${start + 4 < members.totalPages ? start + 4 : members.totalPages}),
                            last=(${last <= 0 ? 1 : last})">
                    <th:block th:with="
                        firstAddr=@{/admin/members(page=0)},
                        prevAddr=@{/admin/members(page=${members.number})},
                        nextAddr=@{/admin/members(page=${members.number + 1})},
                        lastAddr=@{/admin/members(page=${members.totalPages - 1})}">
                        <li>
                            <a th:href="${firstAddr}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <!-- 이전 페이지로 가기 버튼 -->
                        <li th:class="${members.first} ? 'disabled'">
                            <a th:href="${members.first} ? '#' :${prevAddr}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <!--1,2,3,4,.. 등 페이지-->
                        <li th:each="page: ${#numbers.sequence(start, last)}"
                            th:class="${page == members.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/admin/members(page=${page - 1})}"></a>
                        </li>
                        <!--다음 페이지로 -->
                        <li th:class="${members.last} ? 'disabled'">
                            <a th:href="${members.last} ? '#' : ${nextAddr}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--맨 마지막 페이지로 이동 -->
                        <li>
                            <a th:href="${lastAddr}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </th:block>

    <th:block th:fragment="subject-page-nav">
        <div style="text-align: center;">
            <nav>
                <!--표에 사용될 변수값 초기화 -->
                <ul class="pagination"
                    th:with="start=${T(Math).floor(subjects.number/10)*10 + 1},
                            last=(${start + 4 < subjects.totalPages ? start + 4 : subjects.totalPages}),
                            last=(${last <= 0 ? 1 : last})">
                    <th:block th:with="
                        firstAddr=@{/admin/subjects(page=0)},
                        prevAddr=@{/admin/subjects(page=${subjects.number})},
                        nextAddr=@{/admin/subjects(page=${subjects.number + 1})},
                        lastAddr=@{/admin/subjects(page=${subjects.totalPages - 1})}">
                        <li>
                            <a th:href="${firstAddr}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <!-- 이전 페이지로 가기 버튼 -->
                        <li th:class="${subjects.first} ? 'disabled'">
                            <a th:href="${subjects.first} ? '#' :${prevAddr}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <!--1,2,3,4,.. 등 페이지-->
                        <li th:each="page: ${#numbers.sequence(start, last)}"
                            th:class="${page == subjects.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/admin/subjects(page=${page - 1})}"></a>
                        </li>
                        <!--다음 페이지로 -->
                        <li th:class="${subjects.last} ? 'disabled'">
                            <a th:href="${subjects.last} ? '#' : ${nextAddr}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--맨 마지막 페이지로 이동 -->
                        <li>
                            <a th:href="${lastAddr}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </th:block>

    <th:block th:fragment="pool-page-nav">
        <div style="text-align: center;">
            <nav>
                <!--표에 사용될 변수값 초기화 -->
                <ul class="pagination"
                    th:with="start=${T(Math).floor(pools.number/10)*10 + 1},
                            last=(${start + 4 < pools.totalPages ? start + 4 : pools.totalPages}),
                            last=(${last <= 0 ? 1 : last})">
                        <li>
                            <a th:href="${firstAddr}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <!-- 이전 페이지로 가기 버튼 -->
                        <li th:class="${pools.first} ? 'disabled'">
                            <a th:href="${pools.first} ? '#' :${prevAddr}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <!--1,2,3,4,.. 등 페이지-->
                        <li th:each="page: ${#numbers.sequence(start, last)}"
                            th:class="${page == pools.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/admin/pools(page=${page - 1})}"></a>
                        </li>
                        <!--다음 페이지로 -->
                        <li th:class="${pools.last} ? 'disabled'">
                            <a th:href="${pools.last} ? '#' : ${nextAddr}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--맨 마지막 페이지로 이동 -->
                        <li>
                            <a th:href="${lastAddr}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </th:block>

    <th:block th:fragment="reservation-page-nav">
        <div style="text-align: center;">
            <nav>
                <!--표에 사용될 변수값 초기화 -->
                <ul class="pagination"
                    th:with="start=${T(Math).floor(reservations.number/10)*10 + 1},
                            last=(${start + 4 < reservations.totalPages ? start + 4 : reservations.totalPages}),
                            last=(${last <= 0 ? 1 : last})">
                    <th:block th:with="
                        firstAddr=@{/admin/reservations(page=0)},
                        prevAddr=@{/admin/reservations(page=${reservations.number})},
                        nextAddr=@{/admin/reservations(page=${reservations.number + 1})},
                        lastAddr=@{/admin/reservations(page=${reservations.totalPages - 1})}">
                        <li>
                            <a th:href="${firstAddr}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <!-- 이전 페이지로 가기 버튼 -->
                        <li th:class="${reservations.first} ? 'disabled'">
                            <a th:href="${reservations.first} ? '#' :${prevAddr}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <!--1,2,3,4,.. 등 페이지-->
                        <li th:each="page: ${#numbers.sequence(start, last)}"
                            th:class="${page == reservations.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/admin/reservations(page=${page - 1})}"></a>
                        </li>
                        <!--다음 페이지로 -->
                        <li th:class="${reservations.last} ? 'disabled'">
                            <a th:href="${reservations.last} ? '#' : ${nextAddr}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--맨 마지막 페이지로 이동 -->
                        <li>
                            <a th:href="${lastAddr}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </th:block>

    <th:block th:fragment="team-page-nav">
        <div style="text-align: center;">
            <nav>
                <!--표에 사용될 변수값 초기화 -->
                <ul class="pagination"
                    th:with="start=${T(Math).floor(teams.number/10)*10 + 1},
                            last=(${start + 4 < teams.totalPages ? start + 4 : teams.totalPages}),
                            last=(${last <= 0 ? 1 : last})">
                    <th:block th:with="
                        firstAddr=@{/admin/teams(page=0)},
                        prevAddr=@{/admin/teams(page=${teams.number})},
                        nextAddr=@{/admin/teams(page=${teams.number + 1})},
                        lastAddr=@{/admin/teams(page=${teams.totalPages - 1})}">
                        <li>
                            <a th:href="${firstAddr}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <!-- 이전 페이지로 가기 버튼 -->
                        <li th:class="${teams.first} ? 'disabled'">
                            <a th:href="${teams.first} ? '#' :${prevAddr}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <!--1,2,3,4,.. 등 페이지-->
                        <li th:each="page: ${#numbers.sequence(start, last)}"
                            th:class="${page == teams.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/admin/teams(page=${page - 1})}"></a>
                        </li>
                        <!--다음 페이지로 -->
                        <li th:class="${teams.last} ? 'disabled'">
                            <a th:href="${teams.last} ? '#' : ${nextAddr}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--맨 마지막 페이지로 이동 -->
                        <li>
                            <a th:href="${lastAddr}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </th:block>
</html>