<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:fragment="fragment-section-main">
    <section>
        <div class="container">
            <div class="d-title">
                <h2>Open Studio</h2>
            </div>
            <div class="d-content">
                <div class="row">
                    <ul>
                        <li>Admin Page</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>
