<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="fragment-team-save">
    <section>
        <div class="container">
            <div class="d-content _save_content">
                <div class="d-title">
                    <h2>Team 생성</h2>
                </div>
                <div class="col-md-4">
                    <form class="_form">
                        <div class="form-group">
                            <label for="subjectName"> 서브젝트 이름 </label>
                            <input type="text" class="_form-control" id="subjectName" placeholder="서브젝트 이름을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="userName1"> 멤버1 이름 </label>
                            <input type="text" class="form-control" id="userName1" placeholder="멤버1의 이름을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="userName2"> 멤버2 이름 </label>
                            <input type="text" class="form-control" id="userName2" placeholder="멤버2의 이름을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="userName3"> 멤버3 이름 </label>
                            <input type="text" class="form-control" id="userName3" placeholder="멤버3의 이름을 입력하세요">
                        </div>
                    </form>
                    <div class="_form_btns">
                        <a href="/admin/teams" role="button" class="btn btn-outline-secondary active">취소</a>
                        <button type="button" class="btn btn-outline-success disable" id="btn-save">생성</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block th:fragment="fragment-team-board">
    <section>
        <div class="container">
            <div class="d-title">
                <h2 style="margin-right: 10px;">Team 조회</h2>
                <a href="/admin/teams/save" style="color:cornflowerblue;" id="btn-save" class="btn active" role="button">New</a>
            </div>
            <div class="d-content">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr class="text-center">
                                <th>팀 번호</th>
                                <th>유저 목록</th>
                                <th>Team 생성 시간</th>
                                <th>Team 종료 시간</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" th:object="${team}" th:each="team: ${teams}" th:attr="data-href=@{/admin/teams/__${team.id}__}">
                                <td th:text="*{ id }"></td>
                                <td th:text="*{ userNames }"></a></td>
                                <td th:text="*{ createdAt }"></td>
                                <td th:text="*{ closedAt }"></td>
                                <td><button id="btn-delete-row" class="btn active" role="button">❌</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

</html>
