{{>layout/header-index-admin}}
<h1>Admin Page - Main</h1>

<ul>
    <li><h3><a href="/admin/subjects">subject</a></h3></li>
    <li><h3><a href="/admin/reservations">reservations</a></h3></li>
    <li><h3><a href="/admin/pools">pools</a></h3></li>
</ul>

{{>layout/footer-index-admin}}