{{>layout/header-subjects}}
<h1>Admin Page - Subject</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <a href="/admin/subjects/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>서브젝트 번호</th>
            <th>서브젝트 이름</th>
            <th>서브젝트 Pdf</th>
            <th>Description</th>
            <th>Circle</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#subjects}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/admin/subjects/update/{{id}}">{{name}}</a></td>
                <td>{{pdfRef}}</td>
                <td>{{description}}</td>
                <td>{{circle}}</td>
                <td>{{modifiedAt}}</td>
            </tr>
        {{/subjects}}
        </tbody>
    </table>
</div>
{{>layout/footer-subjects}}